.login-card {
  padding: 2rem;
  background-color: #fdfff5;
  border: 1px solid #232323;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.form-title {
  font-size: 2.3rem;
  text-align: center;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-label {
  display: block;
  margin-bottom: 0.2rem;
  color: #232323;
}

.form-input {
  height: 2.5rem;
  width: 23rem;
  border: 1px solid #232323;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 0 0.5rem;
}

.form-input:focus {
  outline: none;
}

.form-link {
  display: block;
  margin-top: 0.2rem;
  text-align: end;
  font-size: 0.875rem;
}

.form-btn-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.form-btn {
  padding: 0.8rem 5rem;
  border: 0;
  border-radius: 5px;
  background-color: #232323;
  color: #fdfff5;
  font-size: 1rem;
  font-weight: bold;
}

.form-btn:hover {
  cursor: pointer;
}

.form-text-center {
  text-align: center;
}

@media screen and (max-width: 640px) {
  .form-input {
    width: 17.5rem;
  }
}
