@import url('https://fonts.googleapis.com/css2?family=Inter');

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  /* background-color: #fdfff5; */
}

a {
  /* color: #6240b8; */
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/* TODO: Setup color, fonts and other global variables */
