{% extends "base.html" %}
{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}
{% block content %}
    <div class="h-100 d-flex align-items-center justify-content-center pt-5">
        <form class="w-25 pt-5" method="post">
            {% csrf_token %}
            <h1 class="pt-5 text-center">Login</h1>
            <div class="form-outline mb-4">
                <label class="form-label" for="username">Email or Phone Number</label>
                <input type="text"
                       name="username"
                       id="username"
                       class="form-control"
                       required />
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="password">Password</label>
                <input type="password"
                       name="password"
                       id="password"
                       class="form-control"
                       required />
            </div>
            <div class="row mb-4">
                <div class="col d-flex justify-content-end">
                    <a href="#!">Forgot password?</a>
                </div>
            </div>
            <!-- Submit button -->
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-block mb-4 px-5">Sign in</button>
            </div>
            <!-- Register buttons -->
            <div class="text-center">
                <p>
                    Not a member? <a href="{% url 'register' %}">Register</a>
                </p>
            </div>
        </form>
    </div>
{% endblock %}
