{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/users/base.css' %}">
{% endblock %}

{% block scripts %}{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="card">
        <form class="form" method="post">
            {% csrf_token %}
            <h1 class="form-title">Register</h1>

            <div class="row">
                <div class="column">
                    <div class="form-group">
                        <label class="form-label" for="full_name">Full name*</label>
                        <input class="form-input" type="text" name="full_name" id="full_name" required />
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="password">Password*</label>
                        <input class="form-input" type="password" name="password" id="password" required />
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="city">City</label>
                        <input class="form-input" type="text" name="city" id="city" />
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="state">State</label>
                        <input class="form-input" type="text" name="state" id="state" />
                    </div>
                </div>
                <div class="column">
                    <div class="form-group">
                        <label class="form-label" for="phone_number">Phone number*</label>
                        <input class="form-input" type="tel" name="phone_number" id="phone_number" required />
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="email">Email address</label>
                        <input class="form-input" type="email" name="email" id="email" />
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="district">District</label>
                        <input class="form-input" type="text" name="district" id="district" />
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="pincode">Pincode</label>
                        <input class="form-input" type="text" name="pincode" id="pincode" />
                    </div>
                </div>
            </div>

            <div class="form-group column">
                <label class="form-label" for="bio">Bio</label>
                <textarea class="form-input text-box" name="bio" id="bio"> </textarea>
            </div>

            <!-- Submit button -->
            <div class="form-btn-wrap">
                <button class="form-btn" type="submit">Sign up</button>
            </div>
            <!-- Register buttons -->
            <div class="form-text-center">
                <p>Already a member? <a href="{% url 'login' %}">Log in</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}