{% extends "base.html" %}
{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}
{% block content %}
    <div class="h-100 d-flex align-items-center justify-content-center pt-5">
        <form class="w-25 pt-1" method="post">
            {% csrf_token %}
            <h1 class="text-center">Register</h1>
            <div class="form-outline">
                <label class="form-label" for="full_name">Name</label>
                <input type="text"
                       name="full_name"
                       id="full_name"
                       class="form-control"
                       required />
            </div>
            <div class="form-outline">
                <label class="form-label" for="email">Email address</label>
                <input type="email" name="email" id="email" class="form-control" />
            </div>
            <div class="form-outline ">
                <label class="form-label" for="phone_number">Phone Number</label>
                <input type="tel"
                       name="phone_number"
                       id="phone_number"
                       class="form-control"
                       required />
            </div>
            <div class="form-outline">
                <label class="form-label" for="password">Password</label>
                <input type="password"
                       name="password"
                       id="password"
                       class="form-control"
                       required />
            </div>
            <div class="form-outline">
                <label class="form-label" for="bio">Bio</label>
                <textarea class="form-control" name="bio" id="bio"></textarea>
            </div>
            <div class="form-outline">
                <label class="form-label" for="pincode">Pin Code</label>
                <input type="text" name="pincode" id="pincode" class="form-control" />
            </div>
            <div class="form-outline">
                <label class="form-label" for="city">City</label>
                <input type="text" name="city" id="city" class="form-control" />
            </div>
            <div class="form-outline">
                <label class="form-label" for="district">District</label>
                <input type="text" name="district" id="district" class="form-control" />
            </div>
            <div class="form-outline">
                <label class="form-label" for="state">State</label>
                <input type="text" name="state" id="state" class="form-control" />
            </div>
            <!-- Submit button -->
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-block my-4 px-5">Sign up</button>
            </div>
            <!-- Login buttons -->
            <div class="text-center">
                <p>
                    Already a member? <a href="{% url 'login' %}">Login</a>
                </p>
            </div>
        </form>
    </div>
{% endblock %}
